.about-section-wrapper {
  display: grid;
  grid-template-columns: 33.3vw 66.6vw;
  grid-template-areas: "about-text about-code";
  max-width: 1250px;
  padding: 50px 0 50px 0;
}
.about-text-wrapper {
  grid-area: about-text;
  color: $black;
  padding: 0 50px;

  h3 {
    text-align: center;
    font-weight: 700;
  }
  hr {
    height: 5px;
    width: 50px;
    background-color: $robinhood-green;
    border: none;
  }

  p {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
  }
}
.about-editor-wrapper {
  padding: 0 50px;
}
.editor-container {
  grid-area: about-code;
  // margin: 50px;
  background-color: #cecece;
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);

  .about-btns-wrapper {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-areas: "action-btns .";
    padding: 10px;

    .about-btns-container {
      grid-area: action-btns;
      display: flex;
      justify-content: space-between;
      width: 65px;

      button[class$="btn"] {
        background: #94A4AC;
        border-radius: 7.5px;
        width: 15px;
        height: 15px;
        border: 0px;
        outline: none;

        &:hover {
          opacity: .2;
        }
      }
      button.close-btn {
        background: #F76160;
      }
      button.min-btn {
        background: #FCBC31;
      }
      button.max-btn {
        background: #25C747;
      }
    }
  }
  .filetab-wrapper {
    display: flex;
    width: 100%;
    background-color: #31364A;
    color: $white;
    cursor: pointer;
    overflow: hidden;

    .filetab {
      display: flex;
      justify-content: flex-start;
      width: 100px;
      overflow-x: auto;
      height: auto;
      padding: 5px 10px;

    &:hover:not(.active) {
      opacity: .8;
    }
    &.active {
      background-color: #2A2E3D;
    }
    }
  }
  .body-wrapper {
    display: grid;
    grid-template-columns: 30px auto;
    // grid-template-rows: repeat(10, 25px);
    grid-template-areas: "nums code";
    background-color: #2A2E3D;
    color: #A0AFC1;
    padding: 5px;
    height: 500px;
    border-radius: 0 0 5px 5px;
    overflow-y: auto;

    .line-num-container {
      grid-area: nums;
      flex-direction: column;

      .line-num {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25px;
        width: 30px;


        &.typed {
          border-right: solid 1px #464C60 ;
          width: 29px !important;
        }
      }
    }
    .body-text-container {
      grid-area: code;
      display: flex;
      flex-direction: column;
      padding-left: 5px;

      [class*="-text"].commented-out {
        display: flex;
        align-items: center;
        // justify-content: center;
        height: 25px;
      }
      [class$="-text"] {
        display: flex;
        // flex-direction: column;
        line-height: 2.15em;
      }
    }
  }
  .commented-out,
  .line-num {
    color: #464C60 !important;
    // height: 25px;
  }
  .html-tag {
    display: flex;
    align-items: center;
    font-weight: 600;
    padding: 0 2px;
    color: #89DDFF;
    height: 25px;
  }
  .html-element {
    color: #FF5874;
  }
  .html-path {
    color: $path-green;
    padding-left: 5px;
  }
  .html-object {
    color: $object-yellow;
  }
  .html-method {
    color: $method-blue;
  }
  .html-keyword {
    color: $keyword-purple;
    padding-right: 5px;
  }
  .pad-behind {
    padding-right: 5px;
  }
  .pad-space {
    padding-left: 5px;
  }
  .pad1 {
    padding-left:15px;
  }
  .pad2 {
    padding-left: 30px;
  }
  .pad3 {
    padding-left: 45px;
  }
}