footer {
  display: flex;
  justify-content: center;
  background-color: #272b2e;
  padding: 20px;
}
footer .container {
  font-family: 'roboto';
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: "links . copy";
  margin: 50px 0;
}
.pull-left {
  grid-area: links;
  display: flex;
  width: 500px;
  justify-content: space-between;

  .sig {
    margin: auto 50px auto 0px;
  }
  .footer-aboutlink {
    margin: auto 50px auto 0px;
  }
  .footer-bloglink {
    grid-area: f-blog;
  }
}

.pull-right {
  grid-area: copy;
  display: flex;
  justify-content: center;
  justify-self: flex-end;
  width: 265px;

  .footer-copy,
  .devsig {
    font-size: 14px;
  }
}
.pull-right:not(a),
.pull-right:not(i) {
  font-family: 'raleway';
  color: #fff;
}
.copyright i,
.copyright a {
  color: #21ce99;
  padding: 0 5px;
}

.copyright i:hover {
  animation: pulse .8s infinite;
  cursor: pointer;
}

@media (min-width: 2400px) {}
@media (max-width: 2560px) {}
@media (max-width: 2400px) {}
@media (max-width: 1900px) {}
@media (max-width: 1440px) {}
@media (max-width: 1280px) {}
@media (max-width: 1025px) {
  footer {
    .container {
      grid-template-columns: 1fr;
      grid-template-areas:
        "links"
        "copy";
      justify-items: center;

      .pull-left {
        display: flex;
        padding: 0;
        margin: 0;
        justify-content: center;
        margin: 0 0 20px 0;

      }
      .pull-right {
        display: flex;
        padding: 0;
        margin: 0;
        justify-self: center;
        justify-content: center;
      }
    }
  }
}
@media (max-width: 990px) {}
@media (max-width: 830px) {}
@media (max-width: 768px) {}
@media (max-width: 660px) {}
@media (max-width: 576px) {}
@media (max-width: 510px) {
  footer {
    width: 100vw;
    .container {
      max-width: calc(100vw - 50px);

      .pull-left {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
          "sig"
          "f-about"
          "f-blog";
        padding: 0;
        justify-content: center;
        max-width: calc(100vw - 50px);

        .sig,
        .footer-aboutlink,
        .footer-bloglink {
          display: flex;
          justify-self: center;
          justify-content: center;
          margin-left: 0;
          margin-right: 0;
          width: 145px;
        }
        .sig {
          grid-area: sig;
        }
        .footer-aboutlink {
          grid-area: f-about;
        }
        .footer-bloglink {
          grid-area: f-blog;
        }
      }
      .pull-right {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
          "footer-copy";
        padding: 0;
        margin: 0;
        justify-self: center;
        justify-content: center;
        justify-items: center;
        max-width: 165px;

        .footer-copy {
          display: flex;
          justify-content: center;
          justify-self: center;
          margin-left: 0;
          margin-right: 0;
        }
        .footer-copy {
          grid-area: footer-copy;
          width: 165px;
        }

      }
    }
  }
}
@media (max-width: 425px) {}
@media (max-width: 375px) {}
@media (max-width: 320px) {
  footer {
    .container {
      width: calc(100vw - 50px);
    }
  }
}