.navbar-color-on-scroll {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  color: #555;
  background-color: #fff !important;
  border-radius: 0;
  padding: 0.625rem 0;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  width: 100vw;
  min-height: 53px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  border: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  transition: all 300ms ease 0s;
}
.navbar-transparent {
  background-color: transparent !important;
  box-shadow: none;
  color: #FFFFFF;
  padding-top: 20px;
}
.navbar-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.navbar-brand {
  font-family: 'Raleway', sans-serif;
  /* display: inline-block; */
  margin-right: 1rem;
  white-space: nowrap;
  position: relative;
  // color: inherit;
  height: 50px;
  font-size: 40px;
  font-weight: 800;
  line-height: 30px;
  padding: 0.625rem 0;
  vertical-align: middle;
  text-decoration: none;
  background-color: transparent;
  // opacity: 0;
  animation: fade-in-down;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  animation-delay: 0.3s;
}
.navbar .navbar-toggler,
.navbar-toggler {
  display: none;
}
.navbar-toggler {
  font-size: 1.25rem;
  line-height: 1.5;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
nav .navbar-toggler {
  padding: 1px 6px;
  font-size: 5px;
  height: 27px;
  width: 37px;
  height: 27px;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;
  z-index: 1050;
}
.navbar-toggler-icon {
  display: inline-block;
  /* background: no-repeat center center; */
  /* background-size: 100% 100%; */
}
nav .navbar-toggler .navbar-toggler-icon {
  width: 22px;
  height: 2px;
  vertical-align: middle;
  outline: 0;
  border-radius: 1px;
  background-color: #555;
}
/* .navbar-toggler:not(:disabled):not(.disabled) {
  cursor: pointer;
} */
.navbar-collapse {
  display: grid;
  grid-template-columns: 2fr repeat(4, auto);
  grid-template-areas:
  ". about projects blog contact";
  align-items: center;
  /* flex-direction: row; */
  /* margin-left: auto!important; */
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-top: 0;
}
.nav-item {
  display: inline-block;  //was flex
  position: relative;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 0 30px;

  &:hover:before {
    width: 60%;
  }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: -5%;
    height: 110%;
    background: $robinhood-green;
    width: 0;
    transition: all 350ms cubic-bezier(0.285, 0.105, 0.465, 1.015);
  }
}
.nav-item.about {
  grid-area: about;
}
.nav-link {
  /* display: block; */
  display: flex;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  padding: 0 30px;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  // color: inherit;
  font-weight: 400;
  border-radius: 3px;
  vertical-align: middle;
  transition: all 300ms ease 0s;
}
a.nav-link:not(.btn),
Link.nav-link:not(.btn) {
  text-transform: uppercase;
  font-size: 1em;
  padding: 0.5rem 0.7rem;
  line-height: 1.625rem;
}
.nav-item.dropdown {
  grid-area: projects;
  position: relative;
}
.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.dropdown-toggle[aria-expanded="true"]:after {
  transform: rotate(180deg);
}
.dropdown-menu {
  position: absolute;
  transform: translate3d(0, 20px, 0) !important;
  visibility: hidden;
  display: block;
  opacity: 0;
  top: 0 !important;
  float: none;
  border: 0;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0.125rem;
  transition: all 150ms linear;
  font-size: 14px;
  padding: 0.3125rem 0;
  transform-origin: 0 0;
  will-change: transform, opacity;
  left: 0;
  z-index: 1000;
  min-width: 10rem;
  margin: 0.125rem 0 0;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #ffffff;
  background-clip: padding-box;
}
.dropdown-menu:before {
  display: inline-block;
  position: absolute;
  width: 0;
  height: 0;
  vertical-align: middle;
  content: "";
  top: -5px;
  left: 10px;
  right: auto;
  color: #FFFFFF;
  border-bottom: .4em solid;
  border-right: .4em solid transparent;
  border-left: .4em solid transparent;
}
.dropdown-menu.show {
  transform: translate3d(0, 43px, 0) !important;
  opacity: 1;
  visibility: visible;
}
.dropdown-item {
  padding: 0.75rem 1.25rem 0.75rem 0.75rem;
  font-size: 0.8571em;
  margin-top: 5px;
  transition: all 150ms linear;
  position: relative;
  width: auto;
  display: flex;
  flex-flow: nowrap;
  align-items: center;
  color: #333;
  font-weight: normal;
  text-decoration: none;
  border-radius: 0.125rem;
  margin: 0 0.3125rem;
  min-width: 7rem;
  overflow: hidden;
  line-height: 1.42857;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.nav-item.blog {
  grid-area: blog;
}
.button-container {
  grid-area: contact;
  padding-right: 0;
  margin-left: 0.1875px;
}
.navbar-btn {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
  color: #fff;
  background-color: #21ce99;
  border-color: #21ce99;
  box-shadow: 0 2px 2px 0 rgba(30, 233, 182, 0.14), 0 3px 1px -2px rgba(233, 30, 99, 0.2), 0 1px 5px 0 rgba(233, 30, 99, 0.12);
  border-width: 1px;
  border-radius: 30px !important;
  padding: 11px 23px;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.35em;
  border: none;
  margin: 10px 1px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0;
  outline: 0;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
  will-change: box-shadow, transform;
  display: block;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  user-select: none;
}

@media (min-width: 2400px) {}
@media (max-width: 2560px) {}
@media (max-width: 2400px) {}
@media (max-width: 1900px) {}
@media (max-width: 1440px) {
  .navbar-brand {
    font-size: 34px;
  }
}
@media (max-width: 1280px) {
  .navbar-container {
    max-width: none;
  }
  .navbar-brand {
    font-size: 32px;
  }
}
@media (max-width: 1025px) {
  .navbar-brand {
    opacity: 1;
    animation: null;
  }
}

@media(min-width: 991px) {
  .showWhenOfSize {
    display: block !important;
  }
}

@media (max-width: 990px) {
  .navbar-translate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .nav-open .navbar-translate {
    width: calc(100% - 145px);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  }
  .navbar-toggler {
    display: inline-block;
    width: 37px;
    padding: 1px 6px;
    font-size: 5px;
    height: 27px;
    vertical-align: middle;
    outline: 0;
  }
  nav.navbar-transparent .navbar-toggler .navbar-toggler-icon {
    background-color: #fff;
  }
  .navbar-collapse {
    padding-top: 70px;
    position: fixed;
    display: block;
    top: 0;
    height: 100% !important;
    width: 300px;
    height: 100vh;
    width: 230px;
    right: 0;
    z-index: 1032;
    visibility: visible;
    background-color: #21ce99;
    overflow-y: visible;
    border-top: none;
    text-align: left;
    padding-right: 0;
    padding-left: 0;
    max-height: none !important;
    -webkit-transform: translate3d(300px, 0, 0);
    -moz-transform: translate3d(300px, 0, 0);
    -o-transform: translate3d(300px, 0, 0);
    -ms-transform: translate3d(300px, 0, 0);
    transform: translate3d(300px, 0, 0);
    -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);

    .nav-item {
      display: block;
      margin-bottom: 20px;

      &:before {
        background: $off-white;
      }
      &:hover:before {
        width: 17%;
      }
    }
  }
  .nav-open .navbar-collapse {
    transform: translate3d(0px, 0, 0);
  }
  nav .navbar-collapse > li.button-container {
    padding: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }
  .button-container {
    margin-left: 0;
  }
  .nav-open .navbar-collapse .navbar-btn {
    background-color: #d0d1d3;
    border-color: #898d90;
  }
}
@media (max-width: 830px) {}
@media (max-width: 768px) {}
@media (max-width: 660px) {}
@media (max-width: 576px) {}
@media (max-width: 425px) {}
@media (max-width: 375px) {}
@media (max-width: 320px) {
  nav {
    max-width: 320px;
  }
  NavBar {
    width: 320px;
  }
}