.projects-wrapper {
  background-color: $robinhood-green;
  padding: 50px;

  .projects-text {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    // background-color: $off-white;

    h3 {
     font-weight: 700;
     text-align: center;
    }

    p {
     font-size: 16px;
     font-weight: 600;
    }
  }

  .projects-container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 25px;
   max-width: 725px;
   margin: 0 auto;

   .test-project {
    position: relative;
    overflow: hidden;

    .project-img {
     background-image: url(http://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/Chris_Christie_at_townhall.jpg/195px-Chris_Christie_at_townhall.jpg);
     border-radius: 10px;
     width: 350px;
     height: 235px;
     background-position: center;
     background-size:cover;
    }

    .project-description {
     position: absolute;
     display: flex;
     justify-content: center;
     align-items: center;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     background: lighten(red, 20%);
     background-blend-mode: multiply;
     color: #fff;
     visibility: hidden;
     opacity: 0;
     border-radius: 10px;
     transition: opacity .2s, visibility .2s;
   }

    &:hover {
     .project-description {
      visibility: visible;
      opacity: .8;
     }

     .project-img {
       background-size:120%;
     }
    }
   }
  }
}