// COLORS
$white: #ffffff;
$off-white: #f5f5f5;
$black: #131313;
$off-black: #212529;
$light-black: #272b2e;
$Midgrey: #898d90;
$Lightgrey: #d0d1d3;
$robinhood-green: #21ce99;
$highlighter-pink: #e24b6c;
$keyword-purple: #c792d9;
$method-blue: #79a2ff;
$object-yellow: #f19e47;
$path-green: #afe88d;

// FONTS

$raleway: 'Raleway', sans-serif;
$roboto-c: 'Roboto Condensed', sans-serif;
$roboto: 'Roboto';
$sourcecode: 'source-code-pro';
$monospace: 'monospace';