@import './setup/variables';
@import './setup/app';
@import './setup/base';
@import './components/navBar';
@import './components/hero';
@import './components/about';
@import './components/contact/contact';
@import './components/contact/wizard';
@import './components/footer';
